.container-fluid {
    background-color: #F1EEEA;
    padding: 25px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navLogo {
    width: 3.5vw;
    margin-right: 10px;
}

.navTitle {
    font-size: 2rem;
    font-weight: 500;
    margin:0;
    display: flex;
    align-items: center;
}

.navButton {
    border: none;
    background-color: #F1EEEA;
    font-size: 1rem;
    padding: 20px;  
}

.navButton:hover {
    background-color: #816843;
    color: white;
}

.navSign {
    border: 2px solid #816843;
    background-color: #F1EEEA;
    font-size: 1.25rem;
    padding: 0 1.2rem 0 1.2rem;
    border-radius: 10px;
}

.navSign:hover {
    background-color: #816843;
    color: white;
}

.events {
    background-color: #F1EEEA;
}

.eventTitle {
    text-align: center;
    margin-top: 2rem;
}

.card {
    width: 25rem;
}

.cardEventTitle {
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    background-color:#816843;
    color: white;
}

.cardEventButton1, .cardEventButton2, .cardEventButton3 {
    margin-top: 2rem;
    width: 7rem;
    border: 2px solid #816843;
    background-color: #F1EEEA;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.cardEventInput {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.cardEventResult {
    text-align: center;
    margin-bottom: 8rem;
}

.displaydiv {
    display: flex;
    justify-content: left;
    font-size: 14px;
    padding: 20px 0 0 20px;
}

.buyButtons {
    display: flex;
    justify-content: around;
}

.buyButton {
    width: 2.5rem;
    border: none;
    background-color: #816843;
    color: white;
}

.cardEventHead {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

.productDetails {
    margin: 3rem 0 0 2rem;
    width: 90%;
}

.products {
    padding-top: 1rem;
}